<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <p>
      A new review for your food truck,
      <%= @food_truck.name %>, was just created!
      To view it, please visit your food truck's main page!<br>
    </p>
    <p>
      Thanks for using Food Truck Reviews and have a great day!
    </p>
  </body>
</html>
